<hello name="{{ name }}"></hello>

<div>
  {{speak()}}
</div>

<br>

<div *ngFor='let color of colors'>
  {{color}}
</div>

<br>

<div *ngFor='let fruit of fruits; let i=index'>
  Fruit {{ i }} is {{ fruit }}
</div>

<br>

<div *ngFor="let car of cars1">
  {{car.make}} {{car.model}} with a mileage of {{car.miles}}
</div>

<br>

<div>
  this is where will eventually loop through our car types.
  <div *ngFor="let car of cars">
    We have a {{car.make}} {{car.model}} with a mileage of {{car.miles}}
  </div>
</div>

<br>

<div class="container">
  <button (click)="saySomething()"> Say something </button>
</div>

<br>

<div class="display">
  {{phrase}}
</div>
<button (click)="update()"> click me </button>